@font-face {
    font-family: 'icomoon';
    src:url('/css/fonts/icomoon.eot?q2xazp');
    src:url('/css/fonts/icomoon.eot?#iefixq2xazp') format('embedded-opentype'),
        url('/css/fonts/icomoon.woff?q2xazp') format('woff'),
        url('/css/fonts/icomoon.ttf?q2xazp') format('truetype'),
        url('/css/fonts/icomoon.svg?q2xazp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up:before { content:"\f106"; }
.icon-angle-down:before { content:"\f107"; }
.icon-comments:before { content:"\f086"; }
.icon-html5:before { content:"\f13b"; }
.icon-css3:before { content:"\f13c"; }
.icon-twitter:before { content:"\f099"; }
.icon-facebook:before { content:"\f09a"; }
.icon-google-plus:before { content:"\f0d5"; }
.icon-linkedin:before { content:"\f0e1"; }
.icon-php:before { content:"\e600"; }
.icon-mobile:before { content:"\e958"; }
.icon-users:before { content:"\e972"; }
.icon-javascript:before { content:"\ea80"; }
.icon-share2:before { content:"\ea82"; }
