@import url("variables.less.css");
@import url("mixins.less.css");

/*==================================*/
/*===Global styles =================*/
/*==================================*/

html,
body {
    width:100%;
    height:100%;
    font-family:'Open Sans', sans-serif;
    font-size:15px;
    background-color:#EFEFEF;
    color:@textColor;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin:0 0 10px;
    font-weight:300;
}

p {
    font-weight:400;
}

img {

}

h1, .h1 {
    font-size:80px;
    @media @upto-small-displays {
        font-size:40px;
    }
}

h2, .h2 {
}

h3, .h3 {
    padding:3px 18px 8px;
    font-size:42px;
    text-align:center;
    @media @upto-small-displays {
        font-size:26px;
    }
}

a {
    color:@textColor;
    &:hover,
    &:focus {
        text-decoration:none;
        outline:none;
    }
}

/*==================================*/
/*=== Reusable =====================*/
/*==================================*/

.btn {
    position:relative;
    padding:10px 16px;
    border:0;
    border-radius:0;
    background:@accent;
    color:@primary;
    font-size:16px;
    font-weight:400;
    border-radius:25px;
    .transition(all .3s @animation);
    &:hover,
    &:focus,
    &:active:focus {
        outline:none;
        color:@primary;
        .scale(1.2);
    }
    &.white {
        background-color:@primary;
        color:@accent;
    }
}

.float-left { float:left; }
.float-right { float:right; }
.float-none { float:none; }
.text-align-left { text-align:left; }
.text-align-right { text-align:right; }
.text-align-center { text-align:center; }

.hamburger {
    position:relative;
    display:block;
    width:38px;
    height:18px;
    margin:15px 15px 5px 2px;
    > span {
        position:absolute;
        top:0;
        right:0;
        width:38px;
        height:2px;
        background:@accent;
    }
    .top {
        .transition(all .3s @animation);
    }
    .middle {
        opacity:1;
        top:8px;
        .transition(all .3s @animation);
    }
    .bottom {
        top:16px;
        .transition(all .3s @animation);
    }
}

.menu-caption {
    font-weight:400;
    color:@accent;
    .transition(all .3s @animation);
}

.navigation-open {
    .hamburger{
        .top {
            top:8px;
            .rotate(45deg);
        }
        .middle {
            opacity:0;
        }
        .bottom {
            top:8px;
            .rotate(-45deg);
        }
    }
}

#projects {
    h3, .h3 {
        margin-bottom:25px;
    }
}

#project-detail {
    display:none;
    position:relative;
    padding:40px 0 50px;
    background-color:@secondaryTextColor;
    h1 {
        margin:50px 0 -25px;
        font-size:50px;
        color:@primary;
        text-align:center;
    }
    .block {
        position:relative;
        margin:100px 0;
        padding:0 200px;
        @media screen and (max-width:1500px) {
            padding:0 250px;
        }
        @media @upto-medium-displays {
            padding:0 100px        
        }
        @media @upto-small-displays {
            padding:0 15px;
        }
        img {
            display:block;
            max-width:100%;
            margin:0 auto;
            @shadow:0 10px 30px rgba(0,0,0,0.50), 0 10px 30px rgba(0,0,0,0.50);
            .box-shadow(@shadow);
        }
    }
    .content {
        position:absolute;
        width:275px;
        margin-top:-65px;
        color:@primary;
        @media screen and (max-width:1500px) {
            width:225px;
        }
        @media @upto-medium-displays {
              position:static;
              margin:25px 0 50px!important;
              width:50%;
              float:left;
        }
        @media @upto-small-displays {
            width:100%;
            padding:0!important;
            margin:25px 0 0!important;
        }
        &.left {
            top:33%;
            right:100%;
            margin-right:-175px;
            @media screen and (max-width:1500px) {
                margin-right:-225px;
            }
            @media @upto-medium-displays {
                padding-right:15px;
            }
        }
        &.right {
            top:66%;
            left:100%;
            margin-left:-175px;
            @media screen and (max-width:1500px) {
                margin-left:-225px;
            }
            @media @upto-medium-displays {
                padding-left:15px;
            }
            @media @upto-small-displays {
                margin:15px 0 50px!important;
            }
        }
        p {
            margin:0;
        }
    }
    .cta {
        margin:0 0 50px;
        h3, .h3 {
            color:@primary;    
        }
    }
    .hide-project-detail-wrapper {
        position:absolute;
        left:0;
        right:0;
        text-align:center;
        &.top {
            top:0;
        }
        &.bottom {
            bottom:0;
        }
    }
    .hide-project-detail {
        color:@primary;
        font-size:20px;
        font-weight:300;
    }
}

.project-thumbnail {
    width:300px;
    height:300px;
    margin:0 auto 50px;
    @media @upto-small-displays {
        width:250px;
        height:250px;
    }
    a {
        position:relative;
        display:block;
        border:10px solid @accent;
        border-radius:50%;
        overflow:hidden;
    }
    img {
        width:100%;
        border-radius:50%;
        overflow:hidden;
        filter:grayscale(1);
        -webkit-filter:grayscale(1);
        -moz-filter:grayscale(1);
        -o-filter:grayscale(1);
        -ms-filter:grayscale(1);
    }
    &:hover {
        img {
            filter:grayscale(0);
            -webkit-filter:grayscale(0);
            -moz-filter:grayscale(0);
            -o-filter:grayscale(0);
            -ms-filter:grayscale(0);
        }
        .project-content {
            bottom:0;
        }
    }
}

.project-content {
    position:absolute;
    bottom:-75px;
    left:0;
    right:0;
    width:100%;
    height:75px;
    padding:10px 0;
    border-radius:50%;
    background-color:@accent;
    text-align:center;
    .transition(bottom .3s @animation);
    p { 
        color:@primary;
        margin:0 0 5px;
    }
    .tag-line {
        font-size:12px;
    }
}

.cta {
    margin:25px 0 0;
    text-align:center;
    p { margin:0; }
    .h3 {
        margin-bottom:25px!important;
        font-size:26px!important;
    }
}

.small-container {
    max-width:800px;
    margin:0 auto;
}

.skill {
    text-align:center;
    margin:0 0 50px;
    .icon {
        display:block;
        margin:0 0 10px;
        font-size:40px;
        color:@secondaryTextColor;
    }
}

.cursive {
    font-size:28px;
    text-align:center;
    color:@accent;
    a {
        color:@accent;
    }
}

.social-icons {
    margin:25px 0 0;
    text-align:center;
    a {
        display:inline-block;
        border:5px solid @secondaryTextColor;
        border-radius:50%;
        margin-left:10px;
        width:60px;
        height:60px;
        line-height:60px;
        @media @upto-small-displays {
            width:50px;
            height:50px;
            line-height:50px;
        }
        .transition(all .3s @animation);
        &:hover {
            .scale(1.2);
        }
        &:first-child {
            margin-left:0;
        }
    }
    .icon {
        position:relative;
        font-size:32px;
        color:@secondaryTextColor;
        @media @upto-small-displays {
            font-size:24px;
        }
    }
    .icon-facebook {
        top:3px;
        left:-1px;
        @media @upto-small-displays {
            top:1px;
        }
    }
    .icon-twitter {
        top:2px;
        @media @upto-small-displays {
            top:0;
        }
    }
    .icon-linkedin {
        top:1px;
        left:3px;
        @media @upto-small-displays {
            top:-1px;
        }
    }
    .icon-email {
        font-family:'Open Sans', sans-serif;
        font-weight:bold;
    }
}

.v-align-center {
    text-align:center;
    &:before {
      content:'';
      display:inline-block;
      height:100%;
      vertical-align:middle;
      margin-right:-0.25em;
    }
}

.v-align-center-inner {
  display:inline-block;
  vertical-align:middle;
  width:100%;
}

/*==================================*/
/*=== Header =======================*/
/*==================================*/

#navigation-trigger-wrapper {
    position:fixed;
    top:0;
    right:0;
    z-index:200;
    max-width:1500px;
    margin:0 auto;
    color:@secondaryTextColor;
}

#navigation-trigger {
    display:block;
    float:right;
    padding:0 0 10px 15px;
    background-color:@primary;
    .box-shadow(-1px 1px 2px #C2C6C8);
}

#navigation {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:fadeout(#000, 10%);
    z-index:100;
    opacity:0;
    .translate3d(0,-100%,0);
    .transition(all .3s @animation);
    ul {
        list-style-type:none;
        padding:0;
        @media @upto-small-displays {
            padding-top:50px;
        }
    }
    li {
        display:inline-block;
        width:25%;
        border-left:1px solid #444444;
        text-align:center;
        .animation-duration(.4s);
        @media @upto-small-displays {
            display:block;
            width:100%;
            height:auto!important;
            padding:20px 0;
            border-left:0;
        }
        &:first-child {
            border-left:0;
        }
        &:before {
            content:'';
            display:inline-block;
            height:100%;
            vertical-align:middle;
            margin-right:-0.25em;
        }
    }
    li + li { .animation-delay(.4s); }
    li + li + li { .animation-delay(.6s); }
    li + li + li + li { .animation-delay(.8s); }
    a {
        position:relative;
        top:0;
        display:inline-block;
        vertical-align:middle;
        width:100%;
        padding:10px 0;
        font-size:24px;
        font-weight:300;
        letter-spacing:6px;
        text-transform:uppercase;
        color:@accent;
        .transition(top .3s @animation);
        &:hover {
            top:-15px;
        }
        &:before {
            content:"";
            position:absolute;
            bottom:0;
            left:40%;
            width:20%;
            height:1px;
            background-color:@primary;
        }
    }
    .container,
    [class*="col-"],
    nav,
    ul,
    li {
        height:100%;
    }
}

.navigation-open {
    #navigation {
        opacity:1;
        .translate3d(0,0,0);
    }
}

/*==================================*/
/*=== Footer =======================*/
/*==================================*/

#footer {
    position:relative;
    padding:50px 0;
    z-index:20;
    background-color:@secondary;
    color:@primary;
}

/*==================================*/
/*=== Main content =================*/
/*==================================*/

#wrapper {
    position:relative;
    max-width:1500px;
    margin:0 auto;
}

#hero-unit {
    padding:100px 0;
    background-color:@accent;
    border-bottom:10px solid @secondaryTextColor;
    text-align:center;
    h1, h3 {
        color:@secondaryTextColor;
    }
    .content {
        position:relative;
        z-index:20;
    }
    .profile {
        margin:0 0 50px;
        border:10px solid @secondaryTextColor;
        border-radius:50%;
        @media @upto-small-displays {
            width:130px;
        }
    }
}

.contact-open {
    #hero-image:before {
        background-color:fadeOut(#000, 40%);
    }   
}

.content-section {
    position:relative;
    padding:75px 0;
    background-color:@primary;
    color:@textColor;
    h1, .h1,
    h3, .h3 {
        padding:0;
        margin-bottom:75px;
        color:@accent;
    }
    h3, .h3 {
        font-size:40px;
    }
    .sub-heading {
        margin:0 0 50px;
        font-size:26px;
        font-weight:300;
        text-align:center;
        color:@accent;
    }
    .triangle {
        content:"";
        position:absolute;
        top:-150px;
        left:0;
        right:0;
        border-top:150px solid transparent;
        &.left {
            border-right:0;
            border-left:1920px solid @primary;
        }
        &.right {
            border-left:0;
            border-right:1920px solid @primary;
        }   
    }
    &.last {
        padding:30px 0 50px;
    }
    &.blue {
        background-color:@accent;
        color:@primary;
        .triangle.left {
            border-left-color:@accent;
        }
        .triangle.right {
            border-right-color:@accent;
        }
        h1, .h1,
        h3, .h3,
        .sub-heading {
            color:@primary;
        }
        a {
            color:@primary;
        }
        .btn {
            color:@accent;
        }
        .form-control {
            border-color:@secondaryTextColor;
            color:@primary;
        }
    }
}

main {
    height:100%;
}

#what-do-i-do {
    h3 {
        margin-bottom:15px;
    }
    h4 {
        margin:0 0 50px;
        font-size:26px;
        text-align:center;
        color:@accent;
    }
    .skill {
        max-width:300px;
        margin:0 auto 10px;
        color:@secondary;
        .icon {
            color:@accent;
        }
    }
    .title {
        font-size:24px;
    }
    ul {
        margin:0 0 50px;
        text-align:left;
        list-style-type:none;
    }
    li {
        position:relative;
        padding-left:15px;
        &:before {
            content:"";
            position:absolute;
            top:10px;
            left:-5px;
            width:10px;
            height:2px;
            background-color:@accent;
        }
    }
}

#what-do-i-know {
    .h4 {
        font-size:22px;
    }
}

#adaptive-placeholders {
    h3 {
        margin-bottom:35px;
    }
    form {
        padding-top:35px;
        @media @upto-large-displays {
            padding-top:60px;
        }
        @media @upto-medium-displays {
            padding-top:80px;
        }
         @media @upto-small-displays {
            padding-top:0;
        }
    }
}

#animated-svgs {
     h3 {
        margin-bottom:40px;
        @media @upto-small-displays {
            margin-bottom:15px;
        }
    }
    svg {
        display:block;
        margin:1em auto;
    }
}

#css-shapes {
    h3 {
        margin-bottom:40px;
        @media @upto-small-displays {
            margin-bottom:15px;
        }
    }
    .shapes {
        @media @upto-large-displays {
            padding-top:5px;
        }
        @media @upto-medium-displays {
            padding-top:30px;
        }
        @media @upto-small-displays {
            padding-top:0;
            padding-bottom:130px;
        }
        div {
            height:50px;
        }
    }
    .circle {
        background-color:@accent;
        width:50px;
        height:50px;
        margin:0 auto;
        border-radius:50%;
        @media @upto-small-displays {
            margin:25px auto 0;
        }
    }
    .triangle {
        margin:0 auto;
        width:0;
        height:0;
        border-left:25px solid transparent;
        border-right:25px solid transparent;
        border-bottom:50px solid @accent;
        @media @upto-small-displays {
            margin:25px auto 0;
        }
    }
    .tear-drop {
        position:relative;
        margin:0 auto;
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:@accent;
        @media @upto-small-displays {
            margin:50px auto 0;
        }
        &:before {
            content:"";
            position:absolute;
            bottom:-10px;
            left:0;
            border-radius:50%;
            border-left:25px solid transparent;
            border-right:25px solid transparent;
            border-top:25px solid @accent;
        }
    }
    .star {
        position:relative;
        width:0;
        height:0;
        margin:25px auto 0;
        border-left:25px solid transparent;
        border-right:25px solid transparent;
        border-bottom:50px solid @accent;
        @media @upto-small-displays {
            margin:50px auto 0;
        }
        &:before {
            content:"";
            position:absolute;
            top:15px;
            left:-25px;
            width:0;
            height:0;
            border-left:25px solid transparent;
            border-right:25px solid transparent;
            border-top:50px solid @accent;
        }
    }
    .hexagon {
        position:relative;
        top:20px;
        width:50px;
        height:25px!important;
        margin:25px auto 0;
        background:@accent;
        @media @upto-small-displays {
            margin:75px auto 0;
        }
        &:before {
            content:"";
            position:absolute;
            top:-12px;
            left:0;
            width:0;
            height:0;
            border-left:25px solid transparent;
            border-right:25px solid transparent;
            border-bottom:12px solid @accent;
        }
        &:after {
            content:"";
            position:absolute;
            bottom:-12px;
            left:0;
            width:0;
            height:0;
            border-left:25px solid transparent;
            border-right:25px solid transparent;
            border-top:12px solid @accent;
        }
    }
    .pacman {
        width:0px;
        height:0px;
        margin:25px auto 0;
        border-right:30px solid transparent;
        border-top:30px solid @accent;
        border-left:30px solid @accent;
        border-bottom:30px solid @accent;
        border-top-left-radius:30px;
        border-top-right-radius:30px;
        border-bottom-left-radius:30px;
        border-bottom-right-radius:30px;
        @media @upto-small-displays {
            margin:75px auto 0;
        }
    }
}

/*==================================*/
/*=== Forms ========================*/
/*==================================*/

.form-group {
    margin:0 0 15px;
}

.form-control {
    position:relative;
    padding:10px 20px 0;
    height:50px;
    z-index:20;
    border:2px solid @accent;
    font-size:14px;
    border-radius:25px;
    font-weight:400;
    color:@accent;
    background-color:transparent;
    .box-shadow(none);
    .transition(all .3s ease-in-out);
    &:focus {
        border-color:@accent;
        background-color:@accent;
        color:@primary;
        .box-shadow(none);
    }
}

input[type="submit"],
button[type="submit"] {
    float:right;
}

label {
    font-weight:normal;
    color:@secondaryTextColor;
}

.response {
    text-align:center;
    font-size:13px;
}

.success,
.error{
    margin-bottom:15px;
    padding:0 23px;
    line-height:50px;
    border-radius:25px;
}
.success{
    background-color:@green;
    color:@primary;
}
.error{
    background-color:@red;
    color:@primary;
}

@animation:cubic-bezier(.55,0,.1,1);

.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.adaptive_placeholder(@height, @margin: 1em, @animationVal, @border: 1px) {
  width: 100%;
  resize: none;
  outline: none;
  &[required] {
    &:focus,
    &:valid {
      + label {
        top:2px;
        z-index:30;
        &[placeholder] {
          &:before {
            .transition(all .2s @animation);
            font-size:12px;
          }
        }
      }
    }
    &:invalid {
      + label {
        &[placeholder] {
          &[alt] {
            &:before {
              content: attr(alt);
            }
          }
        }
      }
    }
    + label {
      position:absolute;
      top:15px;
      left:23px;
      font-size:14px;
      .transition(top .3s @animation);
      &[placeholder] {
        display: block;
        &:before {
          content: attr(placeholder);
          display: inline-block;
          .transition(all .3s @animation);
        }
      }
    }
  }
}

label {
  font-weight:400;
  z-index:10;
}

input {
  @height:55px;
  &[type="text"] {
    .adaptive_placeholder(@height, (@height / 2), -16px);
  }
}

.lt-ie10 {
  label {
  }
  input + label {
    top:4px!important;
  }
}

textarea {
  @height:55px;
  .adaptive_placeholder(@height, (@height / 2), -2px);
  &[required] + label { top:8px; }
  &.form-control {
    height:62px;
    padding:22px 20px 6px;
  }
}

.form-group {
  position:relative;
}