@upto-xlarge-displays: 	~"only screen and (max-width: 1599px)";
@over-xlarge-displays: 	~"only screen and (min-width: 1600px)";

@upto-large-displays: 	~"only screen and (max-width: 1199px)";
@over-large-displays: 	~"only screen and (min-width: 1200px)";

@upto-medium-displays:	~"only screen and (max-width: 991px)";
@over-medium-displays: 	~"only screen and (min-width: 992px)";

@upto-small-displays:	~"only screen and (max-width: 767px)";
@over-small-displays:  	~"only screen and (min-width: 768px)";

@upto-xsmall-displays: 	~"only screen and (max-width: 479px)";
@over-xsmall-displays: 	~"only screen and (min-width: 480px)";

@primary:#ffffff;
@secondary:#272727;
@accent:#15a2ff;
@textColor:#626262;
@secondaryTextColor:#95D5FF;
@dividerColor:#E4E4E4;
@defaultShadow:0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
@sectionShadow:0 2px 6px rgba(0,0,0,0.2);
@animationSpeed:500ms;
@animation:cubic-bezier(.55,0,.1,1);

@green:#4CAF50;
@red:#F44336;