.form-group {
  margin: 0 0 15px;
}
.form-control {
  position: relative;
  padding: 10px 20px 0;
  height: 50px;
  z-index: 20;
  border: 2px solid #15a2ff;
  font-size: 14px;
  border-radius: 25px;
  font-weight: 400;
  color: #15a2ff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.form-control:focus {
  border-color: #15a2ff;
  background-color: #15a2ff;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="submit"],
button[type="submit"] {
  float: right;
}
label {
  font-weight: normal;
  color: #95D5FF;
}
.response {
  font-size: 13px;
}
.success,
.error {
  margin-bottom: 15px;
  padding: 0 23px;
  line-height: 50px;
  border-radius: 25px;
}
.success {
  background-color: #4CAF50;
  color: #ffffff;
}
.error {
  background-color: #F44336;
  color: #ffffff;
}
