html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #EFEFEF;
  color: #626262;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 0 0 10px;
  font-weight: 300;
}
p {
  font-weight: 400;
}
h1,
.h1 {
  font-size: 80px;
}
@media only screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}
h3,
.h3 {
  padding: 3px 18px 8px;
  font-size: 42px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  h3,
  .h3 {
    font-size: 26px;
  }
}
a {
  color: #626262;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.btn {
  position: relative;
  padding: 10px 16px;
  border: 0;
  border-radius: 0;
  background: #15a2ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.btn:hover,
.btn:focus,
.btn:active:focus {
  outline: none;
  color: #ffffff;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.btn.white {
  background-color: #ffffff;
  color: #15a2ff;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.hamburger {
  position: relative;
  display: block;
  width: 38px;
  height: 18px;
  margin: 15px 15px 5px 2px;
}
.hamburger > span {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 2px;
  background: #15a2ff;
}
.hamburger .top {
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.hamburger .middle {
  opacity: 1;
  top: 8px;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.hamburger .bottom {
  top: 16px;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.menu-caption {
  font-weight: 400;
  color: #15a2ff;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.navigation-open .hamburger .top {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation-open .hamburger .middle {
  opacity: 0;
}
.navigation-open .hamburger .bottom {
  top: 8px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#projects h3,
#projects .h3 {
  margin-bottom: 25px;
}
#project-detail {
  display: none;
  position: relative;
  padding: 40px 0 50px;
  background-color: #95D5FF;
}
#project-detail h1 {
  margin: 50px 0 -25px;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
#project-detail .block {
  position: relative;
  margin: 100px 0;
  padding: 0 200px;
}
@media screen and (max-width: 1500px) {
  #project-detail .block {
    padding: 0 250px;
  }
}
@media only screen and (max-width: 991px) {
  #project-detail .block {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 767px) {
  #project-detail .block {
    padding: 0 15px;
  }
}
#project-detail .block img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.5), 0 10px 30px rgba(0,0,0,0.5);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5), 0 10px 30px rgba(0,0,0,0.5);
}
#project-detail .content {
  position: absolute;
  width: 275px;
  margin-top: -65px;
  color: #ffffff;
}
@media screen and (max-width: 1500px) {
  #project-detail .content {
    width: 225px;
  }
}
@media only screen and (max-width: 991px) {
  #project-detail .content {
    position: static;
    margin: 25px 0 50px !important;
    width: 50%;
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  #project-detail .content {
    width: 100%;
    padding: 0 !important;
    margin: 25px 0 0 !important;
  }
}
#project-detail .content.left {
  top: 33%;
  right: 100%;
  margin-right: -175px;
}
@media screen and (max-width: 1500px) {
  #project-detail .content.left {
    margin-right: -225px;
  }
}
@media only screen and (max-width: 991px) {
  #project-detail .content.left {
    padding-right: 15px;
  }
}
#project-detail .content.right {
  top: 66%;
  left: 100%;
  margin-left: -175px;
}
@media screen and (max-width: 1500px) {
  #project-detail .content.right {
    margin-left: -225px;
  }
}
@media only screen and (max-width: 991px) {
  #project-detail .content.right {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 767px) {
  #project-detail .content.right {
    margin: 15px 0 50px !important;
  }
}
#project-detail .content p {
  margin: 0;
}
#project-detail .cta {
  margin: 0 0 50px;
}
#project-detail .cta h3,
#project-detail .cta .h3 {
  color: #ffffff;
}
#project-detail .hide-project-detail-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
#project-detail .hide-project-detail-wrapper.top {
  top: 0;
}
#project-detail .hide-project-detail-wrapper.bottom {
  bottom: 0;
}
#project-detail .hide-project-detail {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}
.project-thumbnail {
  width: 300px;
  height: 300px;
  margin: 0 auto 50px;
}
@media only screen and (max-width: 767px) {
  .project-thumbnail {
    width: 250px;
    height: 250px;
  }
}
.project-thumbnail a {
  position: relative;
  display: block;
  border: 10px solid #15a2ff;
  border-radius: 50%;
  overflow: hidden;
}
.project-thumbnail img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}
.project-thumbnail:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}
.project-thumbnail:hover .project-content {
  bottom: 0;
}
.project-content {
  position: absolute;
  bottom: -75px;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  padding: 10px 0;
  border-radius: 50%;
  background-color: #15a2ff;
  text-align: center;
  -webkit-transition: bottom .3s cubic-bezier(.55,0,.1,1);
  -o-transition: bottom .3s cubic-bezier(.55,0,.1,1);
  transition: bottom .3s cubic-bezier(.55,0,.1,1);
}
.project-content p {
  color: #ffffff;
  margin: 0 0 5px;
}
.project-content .tag-line {
  font-size: 12px;
}
.cta {
  margin: 25px 0 0;
  text-align: center;
}
.cta p {
  margin: 0;
}
.cta .h3 {
  margin-bottom: 25px !important;
  font-size: 26px !important;
}
.small-container {
  max-width: 800px;
  margin: 0 auto;
}
.skill {
  text-align: center;
  margin: 0 0 50px;
}
.skill .icon {
  display: block;
  margin: 0 0 10px;
  font-size: 40px;
  color: #95D5FF;
}
.cursive {
  font-size: 28px;
  text-align: center;
  color: #15a2ff;
}
.cursive a {
  color: #15a2ff;
}
.social-icons {
  margin: 25px 0 0;
  text-align: center;
}
.social-icons a {
  display: inline-block;
  border: 5px solid #95D5FF;
  border-radius: 50%;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
@media only screen and (max-width: 767px) {
  .social-icons a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
.social-icons a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.social-icons a:first-child {
  margin-left: 0;
}
.social-icons .icon {
  position: relative;
  font-size: 32px;
  color: #95D5FF;
}
@media only screen and (max-width: 767px) {
  .social-icons .icon {
    font-size: 24px;
  }
}
.social-icons .icon-facebook {
  top: 3px;
  left: -1px;
}
@media only screen and (max-width: 767px) {
  .social-icons .icon-facebook {
    top: 1px;
  }
}
.social-icons .icon-twitter {
  top: 2px;
}
@media only screen and (max-width: 767px) {
  .social-icons .icon-twitter {
    top: 0;
  }
}
.social-icons .icon-linkedin {
  top: 1px;
  left: 3px;
}
@media only screen and (max-width: 767px) {
  .social-icons .icon-linkedin {
    top: -1px;
  }
}
.social-icons .icon-email {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.v-align-center {
  text-align: center;
}
.v-align-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.v-align-center-inner {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
#navigation-trigger-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  max-width: 1500px;
  margin: 0 auto;
  color: #95D5FF;
}
#navigation-trigger {
  display: block;
  float: right;
  padding: 0 0 10px 15px;
  background-color: #ffffff;
  -webkit-box-shadow: -1px 1px 2px #C2C6C8;
  box-shadow: -1px 1px 2px #C2C6C8;
}
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 100;
  opacity: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
#navigation ul {
  list-style-type: none;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  #navigation ul {
    padding-top: 50px;
  }
}
#navigation li {
  display: inline-block;
  width: 25%;
  border-left: 1px solid #444444;
  text-align: center;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
}
@media only screen and (max-width: 767px) {
  #navigation li {
    display: block;
    width: 100%;
    height: auto !important;
    padding: 20px 0;
    border-left: 0;
  }
}
#navigation li:first-child {
  border-left: 0;
}
#navigation li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
#navigation li + li {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
#navigation li + li + li {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
#navigation li + li + li + li {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}
#navigation a {
  position: relative;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #15a2ff;
  -webkit-transition: top .3s cubic-bezier(.55,0,.1,1);
  -o-transition: top .3s cubic-bezier(.55,0,.1,1);
  transition: top .3s cubic-bezier(.55,0,.1,1);
}
#navigation a:hover {
  top: -15px;
}
#navigation a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  height: 1px;
  background-color: #ffffff;
}
#navigation .container,
#navigation [class*="col-"],
#navigation nav,
#navigation ul,
#navigation li {
  height: 100%;
}
.navigation-open #navigation {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#footer {
  position: relative;
  padding: 50px 0;
  z-index: 20;
  background-color: #272727;
  color: #ffffff;
}
#wrapper {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
#hero-unit {
  padding: 100px 0;
  background-color: #15a2ff;
  border-bottom: 10px solid #95D5FF;
  text-align: center;
}
#hero-unit h1,
#hero-unit h3 {
  color: #95D5FF;
}
#hero-unit .content {
  position: relative;
  z-index: 20;
}
#hero-unit .profile {
  margin: 0 0 50px;
  border: 10px solid #95D5FF;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  #hero-unit .profile {
    width: 130px;
  }
}
.contact-open #hero-image:before {
  background-color: rgba(0,0,0,0.6);
}
.content-section {
  position: relative;
  padding: 75px 0;
  background-color: #ffffff;
  color: #626262;
}
.content-section h1,
.content-section .h1,
.content-section h3,
.content-section .h3 {
  padding: 0;
  margin-bottom: 75px;
  color: #15a2ff;
}
.content-section h3,
.content-section .h3 {
  font-size: 40px;
}
.content-section .sub-heading {
  margin: 0 0 50px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  color: #15a2ff;
}
.content-section .triangle {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  border-top: 150px solid transparent;
}
.content-section .triangle.left {
  border-right: 0;
  border-left: 1920px solid #ffffff;
}
.content-section .triangle.right {
  border-left: 0;
  border-right: 1920px solid #ffffff;
}
.content-section.last {
  padding: 30px 0 50px;
}
.content-section.blue {
  background-color: #15a2ff;
  color: #ffffff;
}
.content-section.blue .triangle.left {
  border-left-color: #15a2ff;
}
.content-section.blue .triangle.right {
  border-right-color: #15a2ff;
}
.content-section.blue h1,
.content-section.blue .h1,
.content-section.blue h3,
.content-section.blue .h3,
.content-section.blue .sub-heading {
  color: #ffffff;
}
.content-section.blue a {
  color: #ffffff;
}
.content-section.blue .btn {
  color: #15a2ff;
}
.content-section.blue .form-control {
  border-color: #95D5FF;
  color: #ffffff;
}
main {
  height: 100%;
}
#what-do-i-do h3 {
  margin-bottom: 15px;
}
#what-do-i-do h4 {
  margin: 0 0 50px;
  font-size: 26px;
  text-align: center;
  color: #15a2ff;
}
#what-do-i-do .skill {
  max-width: 300px;
  margin: 0 auto 10px;
  color: #272727;
}
#what-do-i-do .skill .icon {
  color: #15a2ff;
}
#what-do-i-do .title {
  font-size: 24px;
}
#what-do-i-do ul {
  margin: 0 0 50px;
  text-align: left;
  list-style-type: none;
}
#what-do-i-do li {
  position: relative;
  padding-left: 15px;
}
#what-do-i-do li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  width: 10px;
  height: 2px;
  background-color: #15a2ff;
}
#what-do-i-know .h4 {
  font-size: 22px;
}
#adaptive-placeholders h3 {
  margin-bottom: 35px;
}
#adaptive-placeholders form {
  padding-top: 35px;
}
@media only screen and (max-width: 1199px) {
  #adaptive-placeholders form {
    padding-top: 60px;
  }
}
@media only screen and (max-width: 991px) {
  #adaptive-placeholders form {
    padding-top: 80px;
  }
}
@media only screen and (max-width: 767px) {
  #adaptive-placeholders form {
    padding-top: 0;
  }
}
#animated-svgs h3 {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  #animated-svgs h3 {
    margin-bottom: 15px;
  }
}
#animated-svgs svg {
  display: block;
  margin: 1em auto;
}
#css-shapes h3 {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  #css-shapes h3 {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 1199px) {
  #css-shapes .shapes {
    padding-top: 5px;
  }
}
@media only screen and (max-width: 991px) {
  #css-shapes .shapes {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  #css-shapes .shapes {
    padding-top: 0;
    padding-bottom: 130px;
  }
}
#css-shapes .shapes div {
  height: 50px;
}
#css-shapes .circle {
  background-color: #15a2ff;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  #css-shapes .circle {
    margin: 25px auto 0;
  }
}
#css-shapes .triangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #15a2ff;
}
@media only screen and (max-width: 767px) {
  #css-shapes .triangle {
    margin: 25px auto 0;
  }
}
#css-shapes .tear-drop {
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #15a2ff;
}
@media only screen and (max-width: 767px) {
  #css-shapes .tear-drop {
    margin: 50px auto 0;
  }
}
#css-shapes .tear-drop:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 50%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #15a2ff;
}
#css-shapes .star {
  position: relative;
  width: 0;
  height: 0;
  margin: 25px auto 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #15a2ff;
}
@media only screen and (max-width: 767px) {
  #css-shapes .star {
    margin: 50px auto 0;
  }
}
#css-shapes .star:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid #15a2ff;
}
#css-shapes .hexagon {
  position: relative;
  top: 20px;
  width: 50px;
  height: 25px !important;
  margin: 25px auto 0;
  background: #15a2ff;
}
@media only screen and (max-width: 767px) {
  #css-shapes .hexagon {
    margin: 75px auto 0;
  }
}
#css-shapes .hexagon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 12px solid #15a2ff;
}
#css-shapes .hexagon:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 12px solid #15a2ff;
}
#css-shapes .pacman {
  width: 0px;
  height: 0px;
  margin: 25px auto 0;
  border-right: 30px solid transparent;
  border-top: 30px solid #15a2ff;
  border-left: 30px solid #15a2ff;
  border-bottom: 30px solid #15a2ff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
@media only screen and (max-width: 767px) {
  #css-shapes .pacman {
    margin: 75px auto 0;
  }
}
.form-group {
  margin: 0 0 15px;
}
.form-control {
  position: relative;
  padding: 10px 20px 0;
  height: 50px;
  z-index: 20;
  border: 2px solid #15a2ff;
  font-size: 14px;
  border-radius: 25px;
  font-weight: 400;
  color: #15a2ff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.form-control:focus {
  border-color: #15a2ff;
  background-color: #15a2ff;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="submit"],
button[type="submit"] {
  float: right;
}
label {
  font-weight: normal;
  color: #95D5FF;
}
.response {
  text-align: center;
  font-size: 13px;
}
.success,
.error {
  margin-bottom: 15px;
  padding: 0 23px;
  line-height: 50px;
  border-radius: 25px;
}
.success {
  background-color: #4CAF50;
  color: #ffffff;
}
.error {
  background-color: #F44336;
  color: #ffffff;
}
label {
  font-weight: 400;
  z-index: 10;
}
input[type="text"] {
  width: 100%;
  resize: none;
  outline: none;
}
input[type="text"][required]:focus + label,
input[type="text"][required]:valid + label {
  top: 2px;
  z-index: 30;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
  -o-transition: all .2s cubic-bezier(.55,0,.1,1);
  transition: all .2s cubic-bezier(.55,0,.1,1);
  font-size: 12px;
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label {
  position: absolute;
  top: 15px;
  left: 23px;
  font-size: 14px;
  -webkit-transition: top .3s cubic-bezier(.55,0,.1,1);
  -o-transition: top .3s cubic-bezier(.55,0,.1,1);
  transition: top .3s cubic-bezier(.55,0,.1,1);
}
input[type="text"][required] + label[placeholder] {
  display: block;
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.lt-ie10 input + label {
  top: 4px !important;
}
textarea {
  width: 100%;
  resize: none;
  outline: none;
}
textarea[required]:focus + label,
textarea[required]:valid + label {
  top: 2px;
  z-index: 30;
}
textarea[required]:focus + label[placeholder]:before,
textarea[required]:valid + label[placeholder]:before {
  -webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
  -o-transition: all .2s cubic-bezier(.55,0,.1,1);
  transition: all .2s cubic-bezier(.55,0,.1,1);
  font-size: 12px;
}
textarea[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
textarea[required] + label {
  position: absolute;
  top: 15px;
  left: 23px;
  font-size: 14px;
  -webkit-transition: top .3s cubic-bezier(.55,0,.1,1);
  -o-transition: top .3s cubic-bezier(.55,0,.1,1);
  transition: top .3s cubic-bezier(.55,0,.1,1);
}
textarea[required] + label[placeholder] {
  display: block;
}
textarea[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
textarea[required] + label {
  top: 8px;
}
textarea.form-control {
  height: 62px;
  padding: 22px 20px 6px;
}
.form-group {
  position: relative;
}
