@animation:cubic-bezier(.55,0,.1,1);

.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.adaptive_placeholder(@height, @margin: 1em, @animationVal, @border: 1px) {
  width: 100%;
  resize: none;
  outline: none;
  &[required] {
    &:focus,
    &:valid {
      + label {
        top:2px;
        z-index:30;
        &[placeholder] {
          &:before {
            .transition(all .2s @animation);
            font-size:12px;
          }
        }
      }
    }
    &:invalid {
      + label {
        &[placeholder] {
          &[alt] {
            &:before {
              content: attr(alt);
            }
          }
        }
      }
    }
    + label {
      position:absolute;
      top:15px;
      left:23px;
      font-size:14px;
      .transition(top .3s @animation);
      &[placeholder] {
        display: block;
        &:before {
          content: attr(placeholder);
          display: inline-block;
          .transition(all .3s @animation);
        }
      }
    }
  }
}

label {
  font-weight:400;
  z-index:10;
}

input {
  @height:55px;
  &[type="text"] {
    .adaptive_placeholder(@height, (@height / 2), -16px);
  }
}

.lt-ie10 {
  label {
  }
  input + label {
    top:4px!important;
  }
}

textarea {
  @height:55px;
  .adaptive_placeholder(@height, (@height / 2), -2px);
  &[required] + label { top:8px; }
  &.form-control {
    height:62px;
    padding:22px 20px 6px;
  }
}

.form-group {
  position:relative;
}