/* ======================================================== */
/* == LESS Mixins ========================================= */
/* ======================================================== */

.transition(@transition) {
	-webkit-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.translate3d(@x; @y; @z) {
	-webkit-transform:translate3d(@x, @y, @z);
	transform:translate3d(@x, @y, @z);
}

.rotate(@degrees) {
	-webkit-transform:rotate(@degrees);
	-ms-transform:rotate(@degrees);
	-o-transform:rotate(@degrees);
	transform:rotate(@degrees);
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}

/* ======================================================== */
/* == LESS Variables ====================================== */
/* ======================================================== */

@animationSpeed: 	500ms;
@animation: 		cubic-bezier(.55,0,.1,1); /* swift out */
@popoutWidth:		200px;

#popout_left,
#nav_trigger_wrapper_left {
	display:none;
}

@media screen and (max-width: 767px) {

	/* ======================================================== */
	/* == No overflow scrolling support ======================= */
	/* ======================================================== */

	.no-overflowscrolling #popout_left {
		position:absolute;
		height:auto;
		bottom:auto;
	}
	/*
	LR 130812 - Make top bar follow page on Android.
	.no-overflowscrolling #fixed_header {
		position:absolute;
	}
	*/
	/* ======================================================== */
	/* == Popout Styling and Transitions ====================== */
	/* ======================================================== */

	/* Popout closed */
	.popout {
		position:fixed;
		top:0;
		bottom:0;
		z-index:10;
		width:200px;
		background:#FFFFFF;
		-webkit-overflow-scrolling:touch;
		overflow-scrolling:touch;
		overflow:auto;
		display:block;
	}

	body.popout_left,
	body.popout_right, {
		overflow-x:hidden;
		width:100%;
	}

	/* ======================================================== */
	/* == Popout specifics ==================================== */
	/* ======================================================== */

	#popout_left,
	#nav_trigger_wrapper_left {
		display:block;
	}

	#header,
	#wrapper {
		.transition(all @animationSpeed @animation);
		.translate3d(0%,0,0);
	}

	/* Left popout closed */
	#popout_left {
		left:0;
		/*.box-shadow(2px 0 5px fadeOut(#060606, 75%));*/
		.transition(all @animationSpeed @animation);
		.translate3d(-100%,0,0);
	}

	/* Left popout open */
	.popout_left {
		#popout_left {
			.transition(all @animationSpeed @animation);
			.translate3d(0%,0,0);
		}
		#header,
		#wrapper {
			.transition(all @animationSpeed @animation);
			.translate3d(@popoutWidth,0,0);
		}
	}

	/* ======================================================== */
	/* == Popout Content Styling ============================== */
	/* ======================================================== */

	.popout {
		background-color:#0097A7;
		z-index:100;
		.profile_img {
			width:100px;
			height:100px;
			margin:50px auto 20px;
			border-radius:50%;
			background-color:#EFFB41;
		}
		p {
			text-align:center;
			color:#FFFFFF;
			margin-bottom:0;
		}
		.nav {
			margin:30px 0 0;
			padding:0;
		}
		li {
			&:first-child {
				a {
					border-top:1px solid #00BCD4;
				}
			}
			a {
				display:block;
				padding:0 20px;
				border-bottom:1px solid #00BCD4;
				line-height:40px;
				color:#FFFFFF;
			}
		}
	}

	#popout_left {
		@defaultShadow:3px 0 10px rgba(0,0,0,0.23),3px 0 10px rgba(0,0,0,0.16);
	    .box-shadow(@defaultShadow);
	}

	/* ======================================================== */
	/* == Fixed Header Styling ================================ */
	/* ======================================================== */

	.popout_trigger_wrapper {
		position:absolute;
		top:0;
		z-index:100;
		display:inline-block;
	}

	.popout_trigger {
		display:block;
		padding:0 10px;
		line-height:50px;
		color:#EFFB41;
		&:hover, 
		&:focus {
			color:#EFFB41;
			text-decoration:none;
		}
		.icon_caption {
			display:block;
			float:left;
			padding:0 5px;
			text-align:center;
			font-weight:400;
			@media screen and (max-width: 767px) {
				display:none;
			}
		}
	}

	#nav_trigger_wrapper_left {
		left:0;
	}

	#nav_trigger_wrapper_right {
		right:0;
		.icon_caption {
			padding-right:28px;
		}
	}

	/* Hamburger icon*/
	.hamburger {
		position:relative;
		display:block;
		float:left;
		width:18px;
		height:16px;
		margin:14px 5px 0 0;
		> span {
			position:absolute;
			top:4px;
			left:0;
			width:18px;
			height:2px;
			background:#15a2ff;
			@hamburgerTransition:top @animationSpeed @animation, transform @animationSpeed @animation;
			.transition(@hamburgerTransition);
		}
		.middle {
			opacity:1;
			top:9px;
			.transition(opacity @animationSpeed @animation);
		}
		.bottom {
			top:14px;
			left:0;
		}
	}			

	/* Animate hamburger icon to close icon for left popout*/
	.popout_left {
		.hamburger{
			.top {
				top:8px;
				.rotate(45deg);
				@hamburgerTransition:top @animationSpeed @animation, transform @animationSpeed @animation;
				.transition(@hamburgerTransition);
			}
			.middle {
				opacity:0;
				.transition(opacity @animationSpeed @animation);
			}
			.bottom {
				top:8px;
				.rotate(-45deg);
				@hamburgerTransition:top @animationSpeed @animation, transform @animationSpeed @animation;
				.transition(@hamburgerTransition);
			}
		}
	}
}