/* ======================================================== */
/* == Popout Menus ======================================== */
/* ======================================================== */

#fixed_header,
#popout_right {
	display:none;
}

@media screen and (max-width: 767px) {

	/* ======================================================== */
	/* == LESS Variables ====================================== */
	/* ======================================================== */

	@animationSpeed: 	500ms;
	@inAnimation: 		cubic-bezier(0.600, -0.280, 0.735, 0.045); /* ease in back */
	@outAnimation: 		cubic-bezier(0.175, 0.885, 0.320, 1.275); /* ease out back */
	@popoutWidth:		-85%;

	.transition(@transition) {
		-webkit-transition: @transition;
		-o-transition: @transition;
		transition: @transition;
	}

	.translate3d(@x; @y; @z) {
		-webkit-transform: translate3d(@x, @y, @z);
		transform: translate3d(@x, @y, @z);
	}

	/* ======================================================== */
	/* == No overflow scrolling support ======================= */
	/* ======================================================== */

	.no-overflowscrolling #popout_right {
		position:absolute;
		height:auto;
		bottom:auto;
	}
	/*
	LR 130812 - Make top bar follow page on Android.
	.no-overflowscrolling #fixed_header {
		position:absolute;
	}
	*/
	/* ======================================================== */
	/* == Popout Styling and Transitions ====================== */
	/* ======================================================== */

	#popout_right {
		background:white;
		position:fixed;
		top:0;
		bottom:0;
		z-index:1;
		width:85%;
		-webkit-overflow-scrolling:touch;
		overflow-scrolling:touch;
		overflow:auto;
		display:block;
		visibility:hidden;
		.transition(all @animationSpeed @outAnimation);
		.social_media_links {
			margin-top:20px;
			text-align:center;
			a {
				padding:5px 10px;
				color:white;
				&:hover {
					text-decoration:none;
				}
			}
			.icon {
				font-size:24px;
			}
		}
	}

	#popout_right {
		right:0;
		.translate3d(100%,0,0);
		.contact_details {
			margin-top:20px;
		}
	}

	.popout_right #popout_right {
		visibility:visible;
		.transition(all @animationSpeed @inAnimation);
		.translate3d(0%,0,0);
	}

	body.popout_right,
	html.popout_right {
		overflow-x:hidden;
		width:100%;
	}

	/* ======================================================== */
	/* == Site Specific Divs to Transition ==================== */
	/* ======================================================== */

	body.close_popout_right #main_wrapper,
	body.close_popout_right #fixed_header {
		.transition(all @animationSpeed @outAnimation);
	}

	body.popout_right #main_wrapper,
	body.popout_right #fixed_header {
		.transition(all @animationSpeed @inAnimation);
		.translate3d(@popoutWidth, 0, 0);
	}

	/* ======================================================== */
	/* == Popout Content Styling ============================== */
	/* ======================================================== */

	.popout {
		img {
			max-width:250px;
			display:block;
			width:100%;
			margin:0 auto;
			padding:10px;
		}
		.contact_details {
			.icon{
				float:left;
				width:40px;
				font-size:30px;
				color:orange;
				text-align:center;	
			}
			.h2 {
				font-size:20px;
				color:orange;
				padding:0 0 15px 50px;
				.secondary_text {
					color:grey;
				}
			}
		}
	}

	.popout ul {
		list-style:none;
		margin:0;
		padding:0;
		font-family:'bliss_light';
		li {
			background-color:fadeOut(black, 20%);
			a {
				display:block;
				font-size:0.9em;
				font-weight:bold;
				padding:0 12px;
				text-transform:uppercase;
				text-decoration:none;
				color:white;
				line-height:50px;
				&.active {
					position:relative;
					background-color:fadeOut(blue, 20%);
					&:after {
						content:"";
						position:absolute;
						bottom:-12px;
						left:50%;
						margin-left:-20px;
						border-left:20px solid transparent;
						border-right:20px solid transparent;
						border-top:12px solid #0985ab;
					}
				}
			}
			li {
				background-color:white;
				a {
					color:grey;
					line-height:normal;
					padding:10px 12px;
				}
				&:first-child {
					a { padding-top:20px; }
				}
				&:last-child {
					a { padding-bottom:20px; }
				}
			}
		}
	}

	/* ======================================================== */
	/* == Fixed Header Styling ================================ */
	/* ======================================================== */

	#fixed_header {
		background:fadeout(black, 20%);
		position:fixed;
		height: 50px;
		padding: 10px 10px 9px;
		display:block;
		top:0;
		left:0;
		right:0;
		z-index:1000;
		text-align:center;
	}

	#mobile_header_logo {
		position:absolute;
		top:0;
		left:0;
		width:50px;
		height:50px;
		background-color:fadeOut(blue, 20%);
		img {
			max-width:100%;
			max-height:100%;
			padding:10px;
		}
	}

	#mobile_site_heading {
		position: absolute;
		left: 0;
		right: 0;
		font-size:24px;
		color:white;
		font-family:'bliss_light';
		text-transform:uppercase;
	}

	#fixed_header .popout_button {
		color:white;
		font-size:28px;
	}

	#fixed_header #mobile_header_button_right {
		position: absolute;
		top:0;
		right:0;
		text-decoration:none;
		.icon {
			width:50px;
			line-height:50px;
		}
	}
	#fixed_header #mobile_header_button_right { float:right; }

}