.form-control{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    height:40px;
}
form{
    .form-group{
        width:100%;
        margin-bottom:5px;
        .form-control{
            border-radius:0;
            &[readonly]{
                cursor:default;
            }
        }
    }
    .button-group{
        margin:10px 0;
        button{
            margin-bottom:5px;
        }
    }
}
.checkbox{
    margin-bottom:15px!important;
    display:inline-block;
}
#message{
    text-align:center;
}
.success,.error{
    border-radius:5px;
    padding:5px 0;
    margin-bottom:20px;
}
.success{
    background-color:#dff0d8;
    color:#468847;
    border:1px solid #d6e9c6;
}
.error{
    background-color:#f2dede;
    color:#b94a48;
    border:1px solid #b94a48;
}