@font-face {
	font-family: 'icomoon';
	src:url('/css/helix3/icons/icomoon.eot?-63qs4b');
	src:url('/css/helix3/icons/icomoon.eot?#iefix-63qs4b') format('embedded-opentype'),
		url('/css/helix3/icons/icomoon.woff?-63qs4b') format('woff'),
		url('/css/helix3/icons/icomoon.ttf?-63qs4b') format('truetype'),
		url('/css/helix3/icons/icomoon.svg?-63qs4b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\e600";
}
.icon-clipboard:before {
	content: "\e601";
}
.icon-info:before {
	content: "\e602";
}
.icon-text:before {
	content: "\e604";
}
.icon-download:before {
	content: "\e603";
}