.btn {
  width: auto;
  display: inline-block;
  background-color: #86B4CC;
  color: #fff;
  border: 0;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none !important;
  background-color: #aacadb;
}
.btn a {
  color: #fff;
}
.btn a:hover {
  color: #fff;
  text-decoration: none;
}
