html,
body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F5D216;
}
h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-indent: 10px;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  margin-bottom: 50px;
}
@media screen and (max-width: 1600px) {
  h1 {
    letter-spacing: 5px;
    text-indent: 5px;
  }
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}
p,
li {
  font-weight: 600;
}
ol {
  margin-bottom: 50px;
}
li {
  margin-bottom: 10px;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
.img {
  display: block;
  margin: 5px auto 0;
  max-width: 100%;
}
small {
  display: block;
  font-size: 10px;
  text-align: center;
}
main {
  position: relative;
}
#wrapper {
  min-width: 1200px;
  margin: 0 auto;
}
.site_third {
  width: 33.3%;
  float: left;
  padding: 0 50px;
}
@media screen and (max-width: 1500px) {
  .site_third {
    padding: 0 20px;
  }
}
.yellow_bg {
  background-color: #F5D216;
  color: #222222;
}
.yellow_bg h1,
.yellow_bg .icon {
  text-shadow: 1px 3px 1px #9D8D3E, -1px -1px 1px #9D8D3E;
}
.yellow_bg h3 {
  text-shadow: 1px 1px 1px #9D8D3E;
}
.yellow_bg .img {
  -webkit-box-shadow: 2px 2px 2px #9D8D3E, -2px -2px 2px #9D8D3E;
  -moz-box-shadow: 2px 2px 2px #9D8D3E, -2px -2px 2px #9D8D3E;
  box-shadow: 2px 2px 2px #9D8D3E, -2px -2px 2px #9D8D3E;
}
.black_bg {
  color: #F5D216;
}
.black_bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 33.3%;
  width: 33.3%;
  background-color: #222222;
  z-index: 0;
}
.black_bg h1,
.black_bg .icon {
  text-shadow: 1px 3px 1px #575757, -1px -1px 1px #575757;
}
.black_bg h3 {
  text-shadow: 1px 1px 1px #9D8D3E;
}
.black_bg .img {
  -webkit-box-shadow: 2px 2px 2px #575757, -2px -2px 2px #575757;
  -moz-box-shadow: 2px 2px 2px #575757, -2px -2px 2px #575757;
  box-shadow: 2px 2px 2px #575757, -2px -2px 2px #575757;
}
.black_bg h1,
.black_bg h3,
.black_bg img,
.black_bg .icon,
.black_bg .img {
  position: relative;
  z-index: 20;
}
.tab_container {
  position: relative;
  min-height: 150px;
  margin-bottom: 50px;
}
.tab_block {
  display: none;
}
.icon_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.icon_container a {
  display: inline-block;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 2px #9D8D3E, -2px -2px 2px #9D8D3E;
  -moz-box-shadow: 2px 2px 2px #9D8D3E, -2px -2px 2px #9D8D3E;
  box-shadow: 2px 2px 2px #9D8D3E, -2px -2px 2px #9D8D3E;
  padding: 5px;
  border-radius: 7px;
}
@media screen and (max-width: 1500px) {
  .icon_container a {
    margin: 10px 5px;
  }
}
.icon_container a:hover,
.icon_container a.active {
  -webkit-box-shadow: 1px 1px 1px #9D8D3E, -1px -1px 1px #9D8D3E;
  -moz-box-shadow: 1px 1px 1px #9D8D3E, -1px -1px 1px #9D8D3E;
  box-shadow: 1px 1px 1px #9D8D3E, -1px -1px 1px #9D8D3E;
}
.icon_container .icon {
  display: block;
  position: relative;
  font-size: 50px;
  text-align: center;
}
.tabs {
  position: relative;
}
.tab {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.tab.active {
  display: block;
  position: relative;
}
.tab a {
  text-decoration: underline;
}
