.btn {
    background-color:#bdbcbc;
    color:#fff;
    border:0;
    border-radius:20px;
    padding:8px 20px;
    font-size:14px;
    font-weight:400;
    height:40px;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    &:hover, &:active, &:focus {
        outline:none!important;
        background-color:lighten(#bdbcbc, 5%);
        color:#fff;
    }
    a {
        color:#fff;
        &:hover {
            color:#fff;
            text-decoration:none;
        }
    }
}