@font-face {
	font-family: 'icomoon';
	src:url('/codeigniter/css/icons/icomoon.eot?hl600n');
	src:url('/codeigniter/css/icons/icomoon.eot?#iefixhl600n') format('embedded-opentype'),
		url('/codeigniter/css/icons/icomoon.woff?hl600n') format('woff'),
		url('/codeigniter/css/icons/icomoon.ttf?hl600n') format('truetype'),
		url('/codeigniter/css/icons/icomoon.svg?hl600n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}
.icon-user:before {
	content: "\f007";
}
.icon-categories:before {
	content: "\f00a";
}
.icon-home:before {
	content: "\f015";
}
.icon-comment:before {
	content: "\f075";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-phone:before {
	content: "\f095";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-plus:before {
	content: "\e600";
}
.icon-info:before {
	content: "\e601";
}