@import url("variables.less.css");
@import url("mixins.less.css");


/*==================================*/
/*===Global styles =================*/
/*==================================*/

html {
    height:100%;
    /* Overwrite nicescroll.js scrollbar options*/
    overflow:auto!important;
}

#ascrail2000,
#ascrail2000-hr {
    display:none!important;
}

body {
    width:100%;
    height:100%;
    font-family:'Open Sans', sans-serif;
    background-color:@lightGrey;
    color:@grey;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    text-align:center;
}

p {

}

img { max-width:100%; }

h1, .h1 {
    font-size:60px;
    font-weight:100;
    text-transform:uppercase;
}

h2, .h2 { font-weight:100; }

h3, .h3 {
    font-weight:100;
}

a {
    color:@grey;
    &:hover { color:@grey; }
    &:focus { text-decoration:none; }
}

.center { text-align:center; }

/*==================================*/
/*=== Page Layout ==================*/
/*==================================*/

#wrapper {
    position:relative;
    width:100%;
    height:100%;
    min-width:768px;
    z-index:50;
    @media @upto-small-displays { margin-left:0; }
}

.show_pic {
    border:1px solid #ddd;
    padding:10px;
    background-color:@white;
}

/*==================================*/
/*=== Header =======================*/
/*==================================*/

#hero {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:600px;
    color:@white;
    .rsContent {
        display:none;
        &:before {
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            z-index:5;
            background:url('/graphics/backgrounds/overlay.png');
            background-color:rgba(0, 0, 0, 0.6);
        }
    }
    .rsImg {
        position:fixed;
        top:0;
        left:0;
        min-width:100%;
        min-height:100%;
        width:auto!important;
        height:auto!important;
        margin-top:0!important;
        margin-left:0!important;
    }
    h1 {
        color:@white;
        margin-top:10px;
        border-bottom:2px solid @white;
        padding-bottom:10px;
    }
    h3 { color:@white; }
}

#hero_ghost {
    height:600px;
}   

.hero_content {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
    text-align:center;
    &:before {
        content:'';
        display:inline-block;
        height:100%;
        vertical-align:middle;
        margin-right:-0.25em;
    }
    .center {
        display:inline-block;
        vertical-align:middle;
    }
}

/*==================================*/
/*=== Left Panel ===================*/
/*==================================*/

#left_panel {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:100;
    width:95px;
    height:100%;
    padding-bottom:20px;
    background-color:@offBlack;
    overflow:auto;
    /*@media @upto-small-displays { display:none; }*/
    .logo_container {
        margin:25px 0;
    }
    .logo {
        width:65px;
        height:65px;
        margin:0 auto;
        background-color:@yellow;
        border-radius:50%;
    }
    #primary_nav { 
        text-align:center;
        list-style-type:none;
        padding:0;
        margin:0;
        li {
            a {
                display:block;
                padding:10px 8px;
                color:#636363;
                -webkit-transition:all .2s ease-in-out;
                -moz-transition:all .2s ease-in-out;
                transition:all .2s ease-in-out;
                &:hover {
                    text-decoration:none;
                    background-color:#363636;
                    color:#C6C6C6;
                }
                .icon {
                    display:block;
                    font-size:24px;
                }
            }
        }
    }
}

#mobile_nav_trigger_wrapper {
    display:none;
    position:fixed;
    top:0;
    left:0;
    z-index:50;
    @media @upto-small-displays { display:block; }
}

#mobile_nav_trigger {
    position:relative;
    display:block;
    width:25px;
    height:25px;
    background-color:@offBlack;
    &:before, &:after {
        content:"";
        position:absolute;
        top:0;
        left:0;
        height:1px;
        width:20px;
        bakcground-color:@white;
    }
}

/*==================================*/
/*=== Footer =======================*/
/*==================================*/

#footer {
    margin-top:30px;
    background-color:@white;
    height:40px;
    line-height:40px;
    p {
        float:left;
        margin-bottom:0;
    }
    #footer_nav {
        float:right;
        list-style-type:none;
        padding:0;
        margin:0;
        li {
            position:relative;
            display:inline;
            margin-left:10px;
            &:first-child {
                &:before { display:none; }
            }
            &:before {
                content:"";
                position:absolute;
                top:3px;
                left:-7px;
                width:1px;
                height:15px;
                background-color:@grey;
            }
        }
    }
}

/*==================================*/
/*=== Search box ===================*/
/*==================================*/

#search {
    position:absolute;
    top:0;
    right:0;
    z-index:20;
    padding:10px 20px;
    form {
        position:relative;
        &:before {
            position:absolute;
            top:0;
            left:0;
            font-family:'icomoon';
            content:"\f002";
            color:@white;
        }
    }
    input {
        position:relative;
        border:0;
        border-bottom:1px solid @white;
        padding-left:20px;
        width:100px;
        background-color:transparent;
        color:@white;
        .transition(width .3s ease-in-out);
        &:focus {
            outline:none;
            width:150px;
        }
    }
}

/*==================================*/
/*=== Main content =================*/
/*==================================*/

main { height:100%; }

#main_container {
    position:relative;
    z-index:40;
    min-height:100%;
    margin-left:85px;
    background-color:@lightGrey;
}

.section_heading {
    position:relative;
    padding:30px 0 50px;
    background-color:@white;
    &:before, &:after {
        content:"";
        position:absolute;
        height:10px;
        width:50%;
        bottom:0;
        border:solid;
        border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) @lightGrey rgba(0, 0, 0, 0);
    }
    &:before {
        left:0;
        border-width:0 30px 20px 0;
    }
    &:after {
        right:0;
        border-width:0 0 20px 30px;
    }
    h2, .h2 {
        margin:0;
        font-size:26px;
    }
}

.section_content {
    margin:15px 0;
}

.category_filters {
    ul {
        list-style-type:none;
        text-align:center;
        margin:0;
        padding:0;
        li {
            padding:0 10px;
            display:inline-block;
            text-align:center;
            font-weight:100;
            font-size:18px;
            &.active {
                a { text-decoration:none; }
                span { border-bottom:1px solid @grey; }
            }
            a:hover {
                text-decoration:none;
                span { border-bottom:1px solid @grey; }
            }
            span {
                padding:5px 0;
                border-bottom:1px solid @white;
            }
        }
    }
}

.mix { display:none; }

#category_blocks { 
    a:hover { text-decoration:none; }
}

.category_block {
    width:100%;
    margin:0 0 15px;
    padding:40px;
    background-color:#bdbcbc;
    color:@white;
    border-radius:20px;
    .transition(all .2s ease-in-out);
    &:hover { background-color:lighten(#bdbcbc, 5%); }
}

#browse_shop {
    
    .h2 {
        margin:0;
        color:@grey;
    }
}

.fb_post {
    position:relative;
    margin:20px 0;
    padding:15px;
    font-size:20px;
    background:#ccc;
    .date {
        position:absolute;
        bottom:5px;
        right:15px;
        font-size:12px;
    }
}

table {
    max-width:600px;
    margin-bottom:20px;
    th, td {
        border:1px solid #bdbcbc;
        padding:5px;
        text-align:center;
    }
}

.cse .gsc-control-cse, .gsc-control-cse {
    background-color:transparent!important;
    border:0!important;
}

/*==================================*/
/*=== Icons ========================*/
/*==================================*/
