@upto-xlarge-displays: 	~"only screen and (max-width: 1599px)";
@over-xlarge-displays: 	~"only screen and (min-width: 1600px)";

@upto-large-displays: 	~"only screen and (max-width: 1199px)";
@over-large-displays: 	~"only screen and (min-width: 1200px)";

@upto-medium-displays:	~"only screen and (max-width: 991px)";
@over-medium-displays: 	~"only screen and (min-width: 992px)";

@upto-small-displays:	~"only screen and (max-width: 767px)";
@over-small-displays:  	~"only screen and (min-width: 768px)";

@upto-xsmall-displays: 	~"only screen and (max-width: 479px)";
@over-xsmall-displays: 	~"only screen and (min-width: 480px)";

@white:#fff;
@lightGrey:#ECECEC;
@grey:#646464;
@offBlack:#262626;

@yellow:#FDE57B;