.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 40px;
}
form .form-group {
  width: 100%;
  margin-bottom: 10px;
}
form .form-group .form-control {
  border-radius: 20px;
}
form .form-group .form-control[readonly] {
  cursor: default;
}
form .button-group {
  margin: 0 0 10px;
}
form .button-group button {
  margin-bottom: 10px;
  width: 100%;
}
.checkbox {
  margin-bottom: 15px !important;
  display: inline-block;
}
.response {
  text-align: center;
}
.success,
.error {
  line-height: 40px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.success {
  background-color: #dff0d8;
  color: #468847;
  border: 1px solid #d6e9c6;
}
.error {
  background-color: #f2dede;
  color: #b94a48;
  border: 1px solid #b94a48;
}
