html {
  height: 100%;
  overflow: auto !important;
}
#ascrail2000,
#ascrail2000-hr {
  display: none !important;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #ECECEC;
  color: #646464;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  text-align: center;
}
img {
  max-width: 100%;
}
h1,
.h1 {
  font-size: 60px;
  font-weight: 100;
  text-transform: uppercase;
}
h2,
.h2 {
  font-weight: 100;
}
h3,
.h3 {
  font-weight: 100;
}
a {
  color: #646464;
}
a:hover {
  color: #646464;
}
a:focus {
  text-decoration: none;
}
.center {
  text-align: center;
}
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 768px;
  z-index: 50;
}
@media only screen and (max-width: 767px) {
  #wrapper {
    margin-left: 0;
  }
}
.show_pic {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}
#hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  color: #fff;
}
#hero .rsContent {
  display: none;
}
#hero .rsContent:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: url('/graphics/backgrounds/overlay.png');
  background-color: rgba(0,0,0,0.6);
}
#hero .rsImg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto !important;
  height: auto !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}
#hero h1 {
  color: #fff;
  margin-top: 10px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
#hero h3 {
  color: #fff;
}
#hero_ghost {
  height: 600px;
}
.hero_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
}
.hero_content:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.hero_content .center {
  display: inline-block;
  vertical-align: middle;
}
#left_panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 95px;
  height: 100%;
  padding-bottom: 20px;
  background-color: #262626;
  overflow: auto;
}
#left_panel .logo_container {
  margin: 25px 0;
}
#left_panel .logo {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background-color: #FDE57B;
  border-radius: 50%;
}
#left_panel #primary_nav {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#left_panel #primary_nav li a {
  display: block;
  padding: 10px 8px;
  color: #636363;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#left_panel #primary_nav li a:hover {
  text-decoration: none;
  background-color: #363636;
  color: #C6C6C6;
}
#left_panel #primary_nav li a .icon {
  display: block;
  font-size: 24px;
}
#mobile_nav_trigger_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
@media only screen and (max-width: 767px) {
  #mobile_nav_trigger_wrapper {
    display: block;
  }
}
#mobile_nav_trigger {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #262626;
}
#mobile_nav_trigger:before,
#mobile_nav_trigger:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 20px;
  bakcground-color: #fff;
}
#footer {
  margin-top: 30px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
}
#footer p {
  float: left;
  margin-bottom: 0;
}
#footer #footer_nav {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#footer #footer_nav li {
  position: relative;
  display: inline;
  margin-left: 10px;
}
#footer #footer_nav li:first-child:before {
  display: none;
}
#footer #footer_nav li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: -7px;
  width: 1px;
  height: 15px;
  background-color: #646464;
}
#search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 10px 20px;
}
#search form {
  position: relative;
}
#search form:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'icomoon';
  content: "\f002";
  color: #fff;
}
#search input {
  position: relative;
  border: 0;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
  width: 100px;
  background-color: transparent;
  color: #fff;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
#search input:focus {
  outline: none;
  width: 150px;
}
main {
  height: 100%;
}
#main_container {
  position: relative;
  z-index: 40;
  min-height: 100%;
  margin-left: 85px;
  background-color: #ECECEC;
}
.section_heading {
  position: relative;
  padding: 30px 0 50px;
  background-color: #fff;
}
.section_heading:before,
.section_heading:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 50%;
  bottom: 0;
  border: solid;
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) #ECECEC rgba(0,0,0,0);
}
.section_heading:before {
  left: 0;
  border-width: 0 30px 20px 0;
}
.section_heading:after {
  right: 0;
  border-width: 0 0 20px 30px;
}
.section_heading h2,
.section_heading .h2 {
  margin: 0;
  font-size: 26px;
}
.section_content {
  margin: 15px 0;
}
.category_filters ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.category_filters ul li {
  padding: 0 10px;
  display: inline-block;
  text-align: center;
  font-weight: 100;
  font-size: 18px;
}
.category_filters ul li.active a {
  text-decoration: none;
}
.category_filters ul li.active span {
  border-bottom: 1px solid #646464;
}
.category_filters ul li a:hover {
  text-decoration: none;
}
.category_filters ul li a:hover span {
  border-bottom: 1px solid #646464;
}
.category_filters ul li span {
  padding: 5px 0;
  border-bottom: 1px solid #fff;
}
.mix {
  display: none;
}
#category_blocks a:hover {
  text-decoration: none;
}
.category_block {
  width: 100%;
  margin: 0 0 15px;
  padding: 40px;
  background-color: #bdbcbc;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.category_block:hover {
  background-color: #cac9c9;
}
#browse_shop .h2 {
  margin: 0;
  color: #646464;
}
.fb_post {
  position: relative;
  margin: 20px 0;
  padding: 15px;
  font-size: 20px;
  background: #ccc;
}
.fb_post .date {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 12px;
}
table {
  max-width: 600px;
  margin-bottom: 20px;
}
table th,
table td {
  border: 1px solid #bdbcbc;
  padding: 5px;
  text-align: center;
}
.cse .gsc-control-cse,
.gsc-control-cse {
  background-color: transparent !important;
  border: 0 !important;
}
