#fixed_header,
#popout_right {
  display: none;
}
@media screen and (max-width: 767px) {
  .no-overflowscrolling #popout_right {
    position: absolute;
    height: auto;
    bottom: auto;
  }
  #popout_right {
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 85%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: auto;
    display: block;
    visibility: hidden;
    -webkit-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275);
    -o-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275);
    transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275);
  }
  #popout_right .social_media_links {
    margin-top: 20px;
    text-align: center;
  }
  #popout_right .social_media_links a {
    padding: 5px 10px;
    color: white;
  }
  #popout_right .social_media_links a:hover {
    text-decoration: none;
  }
  #popout_right .social_media_links .icon {
    font-size: 24px;
  }
  #popout_right {
    right: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  #popout_right .contact_details {
    margin-top: 20px;
  }
  .popout_right #popout_right {
    visibility: visible;
    -webkit-transition: all 500ms cubic-bezier(0.600,-0.28,0.735,0.045);
    -o-transition: all 500ms cubic-bezier(0.600,-0.28,0.735,0.045);
    transition: all 500ms cubic-bezier(0.600,-0.28,0.735,0.045);
    -webkit-transform: translate3d(0%,0,0);
    transform: translate3d(0%,0,0);
  }
  body.popout_right,
  html.popout_right {
    overflow-x: hidden;
    width: 100%;
  }
  body.close_popout_right #main_wrapper,
  body.close_popout_right #fixed_header {
    -webkit-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275);
    -o-transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275);
    transition: all 500ms cubic-bezier(0.175,0.885,0.320,1.275);
  }
  body.popout_right #main_wrapper,
  body.popout_right #fixed_header {
    -webkit-transition: all 500ms cubic-bezier(0.600,-0.28,0.735,0.045);
    -o-transition: all 500ms cubic-bezier(0.600,-0.28,0.735,0.045);
    transition: all 500ms cubic-bezier(0.600,-0.28,0.735,0.045);
    -webkit-transform: translate3d(-85%,0,0);
    transform: translate3d(-85%,0,0);
  }
  .popout img {
    max-width: 250px;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .popout .contact_details .icon {
    float: left;
    width: 40px;
    font-size: 30px;
    color: orange;
    text-align: center;
  }
  .popout .contact_details .h2 {
    font-size: 20px;
    color: orange;
    padding: 0 0 15px 50px;
  }
  .popout .contact_details .h2 .secondary_text {
    color: grey;
  }
  .popout ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'bliss_light';
  }
  .popout ul li {
    background-color: rgba(0,0,0,0.8);
  }
  .popout ul li a {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 50px;
  }
  .popout ul li a.active {
    position: relative;
    background-color: rgba(0,0,255,0.8);
  }
  .popout ul li a.active:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 12px solid #0985ab;
  }
  .popout ul li li {
    background-color: white;
  }
  .popout ul li li a {
    color: grey;
    line-height: normal;
    padding: 10px 12px;
  }
  .popout ul li li:first-child a {
    padding-top: 20px;
  }
  .popout ul li li:last-child a {
    padding-bottom: 20px;
  }
  #fixed_header {
    background: rgba(0,0,0,0.8);
    position: fixed;
    height: 50px;
    padding: 10px 10px 9px;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
  }
  #mobile_header_logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,255,0.8);
  }
  #mobile_header_logo img {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
  }
  #mobile_site_heading {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 24px;
    color: white;
    font-family: 'bliss_light';
    text-transform: uppercase;
  }
  #fixed_header .popout_button {
    color: white;
    font-size: 28px;
  }
  #fixed_header #mobile_header_button_right {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
  }
  #fixed_header #mobile_header_button_right .icon {
    width: 50px;
    line-height: 50px;
  }
  #fixed_header #mobile_header_button_right {
    float: right;
  }
}
