label {
  font-weight: 400;
  z-index: 10;
}
input[type="text"] {
  width: 100%;
  resize: none;
  outline: none;
}
input[type="text"][required]:focus + label,
input[type="text"][required]:valid + label {
  top: 2px;
  z-index: 30;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
  -webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
  -o-transition: all .2s cubic-bezier(.55,0,.1,1);
  transition: all .2s cubic-bezier(.55,0,.1,1);
  font-size: 12px;
}
input[type="text"][required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[type="text"][required] + label {
  position: absolute;
  top: 15px;
  left: 23px;
  font-size: 14px;
  -webkit-transition: top .3s cubic-bezier(.55,0,.1,1);
  -o-transition: top .3s cubic-bezier(.55,0,.1,1);
  transition: top .3s cubic-bezier(.55,0,.1,1);
}
input[type="text"][required] + label[placeholder] {
  display: block;
}
input[type="text"][required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.lt-ie10 input + label {
  top: 4px !important;
}
textarea {
  width: 100%;
  resize: none;
  outline: none;
}
textarea[required]:focus + label,
textarea[required]:valid + label {
  top: 2px;
  z-index: 30;
}
textarea[required]:focus + label[placeholder]:before,
textarea[required]:valid + label[placeholder]:before {
  -webkit-transition: all .2s cubic-bezier(.55,0,.1,1);
  -o-transition: all .2s cubic-bezier(.55,0,.1,1);
  transition: all .2s cubic-bezier(.55,0,.1,1);
  font-size: 12px;
}
textarea[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
textarea[required] + label {
  position: absolute;
  top: 15px;
  left: 23px;
  font-size: 14px;
  -webkit-transition: top .3s cubic-bezier(.55,0,.1,1);
  -o-transition: top .3s cubic-bezier(.55,0,.1,1);
  transition: top .3s cubic-bezier(.55,0,.1,1);
}
textarea[required] + label[placeholder] {
  display: block;
}
textarea[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  -webkit-transition: all .3s cubic-bezier(.55,0,.1,1);
  -o-transition: all .3s cubic-bezier(.55,0,.1,1);
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
textarea[required] + label {
  top: 8px;
}
textarea.form-control {
  height: 62px;
  padding: 22px 20px 6px;
}
.form-group {
  position: relative;
}
